#file-upload {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.message .msg-img {
    max-width: 1080px;
    max-height: 960px;
}
.has-error {
    color: red;
}
.attachment-mime-image .o_image {
    max-height: 40px;
}